# /etc/systemd/system/app@.service

[Unit]
Description=App '%I'
# Enable if using mongodb:
# After=network.target mongodb.service
StartLimitInterval=0

[Service]
User=root
Restart=always
RestartSec=10ms
Environment=NODE_ENV=production
# EnvironmentFile=/root/apps/%i/shared/env.conf
# PassEnvironment=WAVEORB_PORT
WorkingDirectory=/root/apps/%i/current
ExecStart=npm run serve:production

[Install]
WantedBy=multi-user.target
